<h1 id="page_title">Say hello!</h1>

<div class="skinny-wrapper wrapper_padding">
  <form action="https://formspree.io/squiffum@gmail.com"
      method="POST">
      <label>Name</label>
      <input type="text" name="name">
      <label>Email</label>
      <input type="email" name="_replyto">
      <label>Message</label>
      <textarea name="message"></textarea>
      <input type="submit" value="Send">
      <input type="hidden" name="_next" value="/contacts" />
  </form>
</div>